# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# windows MSVC project things...
*.vcxproj*
*.sln
*.suo
*.sdf
*.user
Debug*
ipch*
*.filters
*.opensdf


build/
